/* src/app/globals.css */

@font-face {
  font-family: "Bhineka";
  src: url("/fonts/Bhineka.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700;900&family=Qwigley&display=swap");

/* --- ESTA ES LA PARTE A CORREGIR --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------- */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
}
